Options -Indexes

<FilesMatch "^(config\.local\.php|config\.example\.php|composer\.(json|lock)|phpunit\.xml)$">
    Require all denied
</FilesMatch>

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>
